table{
    border: 1px solid rgb(0, 0, 0);
}
td{
    border: 1px solid rgb(0, 0, 0);
}


th{
    border: 1px solid rgb(0, 0, 0);
}

.table1{
    vertical-align: middle;
    height: 200px;
   
}
.table1 table{
    width: 100%;
}
.table1 table td{
    text-align: center;
}

.table2 table{
    width: 100%;
}
.table2 table td{
    text-align: center;
}

.table3{
    height: 100px;
}
.table3 table{
    width: 100%;
}

.t td{
    text-align: center;
}

.table4 table{
    width: 100%;
}

.t1 td{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}
/* 
table,th,tr,td{
border:1px solid black;
}
.Data1{
width:250px;
height:200px;
}
.Row1{
text-align:center;
}
.tab1{
width:250px;
}
.Data2{
height:100px
} */